body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

.form-horizontal .control-group
{
  margin-bottom: 5px;
}

.collapse-header
{
  border-style: none none solid;
  border-width: 0 0 1px;
  margin-bottom: 15px;
  border-color: -moz-use-text-color -moz-use-text-color #E5E5E5;
}

