{% extends "base.html" %}
{% set active_page = "music" %}
{% from "macros.html" import render_album as render, comma %}

{% block content %}

<div class="content">

  <h1>{{ band.name }}</h1><hr />
  <h2>Website:</h2> {{ band.website|urlize() }}
  <h2>Years Active:</h2> {{ band.begin }} -
  {% if not band.end %}
    Current
  {% else %}
    {{ band.end }}
  {% endif %}

  {% if members %}
    <h2>Members:</h2>
    {% for member in members %}
      {{ member.name }}
      {{ comma(loop) }}
    {% endfor %}
  {% endif %}
  <h2>Albums:</h2>

  {% for album in albums %}
    {{ render(album) }}
  {% endfor %}

</div>



{% endblock %}
