{% extends "base.html" %}

{% block content %}
    	<table class="table">
    		<caption>Harsh Generation</caption>
    		<tr>
    			<td>Track #</td>
    			<td>Name</td>
    			<td>Album</td>
    			<td>Length</td>
    		</tr>
    		<tr>
    			<td>1</td>
    			<td>Intro</td>
    			<td>Harsh Generation</td>
    			<td>0:22</td>
    		</tr>
    		<tr>
    			<td>2</td>
    			<td>Harsh Generation</td>
    			<td>Harsh Generation</td>
    			<td>3:54</td>
    		</tr>
    		<tr>
    			<td>3</td>
    			<td>Void Malign</td>
    			<td>Harsh Generation</td>
    			<td>4:43</td>
    		</tr>
    		<tr>
    			<td>4</td>
    			<td>The Judged Ones</td>
    			<td>Harsh Generation</td>
    			<td>4:40</td>
    		</tr>
    		<tr>
    			<td>5</td>
    			<td>Remnants</td>
    			<td>Harsh Generation</td>
    			<td>4:41</td>
    		</tr>
    		<tr>
    			<td>6</td>
    			<td>B.A.A.L. (Deliver Me)</td>
    			<td>Harsh Generation</td>
    			<td>4:41</td>
    		</tr>
    		<tr>
    			<td>7</td>
    			<td>Dirty</td>
    			<td>Harsh Generation</td>
    			<td>4:19</td>
    		</tr>
    		<tr>
    			<td>8</td>
    			<td>Hate This</td>
    			<td>Harsh Generation</td>
    			<td>4:19</td>
    		</tr>
    		<tr>
    			<td>9</td>
    			<td>New Flesh</td>
    			<td>Harsh Generation</td>
    			<td>4:27</td>
    		</tr>
    		<tr>
    			<td>10</td>
    			<td>Outro</td>
    			<td>Harsh Generation</td>
    			<td>2:54</td>
    		</tr>
    	</table>
{% endblock %}
