<!DOCTYPE html>
<html lang="en">
    <div>
    	<table border="1">
    		<caption>Results for Grendel</caption>
    		<tr>
    			<td>Media type</td>
    			<td>Media Form</td>
    			<td>Artist</td>
    			<td># of Songs</td>
    			<td>Album Name</td>
    			<td>Genre</td>
    		</tr>
    		<tr>
    			<td>music</td>
    			<td>CD</td>
    			<td>Grendel</td>
    			<td>25</td>
    			<td>Timewave: Zero (Limited Edition)</td>
    			<td>EMB/Aggrotech</td>
    		</tr>
    		<tr>
    			<td>music</td>
    			<td>CD</td>
    			<td>Grendel</td>
    			<td>10</td>
    			<td><a href="./tables_album.html">Harsh Generation</a></td>
    			<td>EMB/Aggrotech</td>
    		</tr>
    		<tr>
    			<td>music</td>
    			<td>CD</td>
    			<td>Grendel</td>
    			<td>10</td>
    			<td>Chemicals + Circuitry</td>
    			<td>EMB/Aggrotech</td>
    		</tr>
    		<tr>
    			<td>music</td>
    			<td>CD</td>
    			<td>Grendel</td>
    			<td>7</td>
    			<td>Soilbleed EP</td>
    			<td>EMB/Aggrotech</td>
    		</tr>
    		<tr>
    			<td>music</td>
    			<td>CD</td>
    			<td>Grendel</td>
    			<td>9</td>
    			<td>Soilbleed Redux</td>
    			<td>EMB/Aggrotech</td>
    		</tr>
    </div>
</html>