{% extends "base.html" %}
{% set active_page = "music" %}

{% block content %}
  <div class="container">
    <h3 class="collapse-header"><a href="#" type="button" data-toggle="collapse" data-target="#new_music">Click here to add new music</a></h3>

    <form id="new_music" action="{{ url_for('add_music') }}" method="POST" class="form-horizontal collapse">
      <fieldset>

        <!-- Title -->
        <div class="control-group">
          <label class="control-label" for="title">Song Title</label>
          <div class="controls">
            <input id="title" name="song_title" type="text">
          </div>
        </div>

        <!-- Artist -->
        <div class="control-group">
          <label class="control-label" for="artist">Artist</label>
          <div class="controls">
            <select id="artist" name="song_artist">
              <option selected="true"></option>
              {% for artist in artists %}
                <option>{{artist}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <!-- Album -->
        <div class="control-group">
          <label class="control-label" for="album">Album Name</label>
          <div class="controls">
            <input id="album" name="song_album" type="text">
          </div>
        </div>

        <!-- Category -->
        <div class="control-group">
          <label class="control-label" for="category">Category</label>
          <div class="controls">
            <input id="category" name="song_category" type="text">
          </div>
        </div>

        <!-- Length -->
        <div class="control-group">
          <label class="control-label" for="length">Length</label>
          <div class="controls">
            <input id="length" name="song_length" type="text">
          </div>
        </div>

        <!-- Submit -->
        <div class="control-group">
          <div class="controls">
            <input type="submit" value="Add music to DB">
          </div>
        </div>

      </fieldset>
    </form>
  </div>

  <table class="table">
    <h3>Artists</h3>

    <tr>
      <th>Members</th>
      <th>Band Name</th>
      <th>Genre(s)</th>
      <th>Album(s)</th>
      <th>Years active</th>
      <th>Labels</th>
      <th>Website</th>
    </tr>

    <tr>
      <td><a href="">Brandon Flowers</a>,
      Dave Keuning,
      Ronnie Vannucci, Jr.,
      Mark Stoermer,
      </td>
      <td>The Killers</td>
      <td>  Indie rock, alternative rock, post-punk revival, heartland rock</td>
      <td>Origins and formation,
          Hot Fuss,
          Sam's Town and Sawdust,
          Day & Age,
          Battle Born
      </td>
      <td>2001-Present</td>
      <td>Island, Vertigo, Marrakesh</td>
      <td><a href="thekillersmusic.com">thekillersmusic.com</a></td>
    </tr>

        <tr>
          <td>VLRK,
          M4RC,
          S42H</td>
          <td>Grendel</td>
          <td>EMB/Aggrotech</td>
          <td>Timewave: Zero (Limited Edition),
          EMB/Aggrotech,
          <a href="{{ url_for('temp') }}">Harsh Generation</a>,
          Chemicals + Circuitry,
          Soilbleed Redux,
          Soilbleed EP</td>
          <td>1997–present</td>
          <td>Infacted, Metropolis, NoiTekk</td>
          <td><a href="grendel-base.com">grendel-base.com</a></td>
        </tr>
  </table>
{% endblock %}
